body{
    background-color:gray;
}
.one{
    width:500px;
    background-color:white;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 60px ;
    margin-left: 250px;
}
.logo{
    background:#4b6c9e;
    padding-top: 0px
}
img{
    border-radius: 8px;
}
.img{
    padding-left: 5px;
    padding-top: 3px;
}
.input{
    width:300px
}
legend{
    color:#4d4dff;
    font-weight: bold;
    font-size: 15px;
    font-variant: small-caps;
}
fieldset{
    border: solid 2px rgba(178, 206, 243, 0.582);
}
.form{
    padding: 25px 25px 30px 25px;
}
.button {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px;
    border-radius: 1px;
    outline: 1px;
    outline-style: solid;
    outline-offset: 1px;
  }